body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: whitesmoke;
    height: 100vh;
}

h1{
    font-family: 'Comfortaa', cursive;
    font-size: 100px;
    text-align: center;
}

.Portrait img {
    width: 320px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.link-insta {
    display: flex;
    justify-content: flex-start;
}

.link-facebook {
    display: flex;
    justify-content: flex-end;
}

a {
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    color: black;
    text-align: center;
}